/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    color: white;
    min-height: 100vh;
}

/* Backgrounds per page */
.home {
    background: linear-gradient(135deg, #020617, #0f172a, #020617);
}

.goals {
    background: linear-gradient(135deg, #022c22, #064e3b, #020617);
}

.content {
    background: linear-gradient(135deg, #1e1b4b, #312e81, #020617);
}

/* Navbar */
nav {
    padding: 20px 40px;
    backdrop-filter: blur(10px);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    color: #22c55e;
}

nav a {
    margin-left: 25px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0.3s;
}

nav a:hover {
    color: #22c55e;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 80px 20px 40px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 15px;
}

.hero p {
    opacity: 0.7;
}

/* Grid Layout */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 40px;
    padding: 60px;
}

/* Cards */
.card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    padding: 30px;
    backdrop-filter: blur(10px);
    transition: 0.3s;
    min-height: 180px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card.tall {
    min-height: 250px;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 25px rgba(34, 197, 94, 0.3);
}

/* Text */
.card h2 {
    margin-bottom: 15px;
}

.card p, .card li {
    opacity: 0.8;
    margin-bottom: 8px;
}

ul {
    list-style: none;
}

/* Links */
.card a {
    margin-top: 10px;
    text-decoration: none;
    color: #4ade80;
    font-weight: bold;
    transition: 0.3s;
}

.card a:hover {
    letter-spacing: 1px;
}
